<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loveefy signup</title>
</head>
<body>
    <header>
        <h1>Loveefy</h1>
        <h2>SignUp</h2>
    </header>
    <p>signup with email</p>
    <form action="{{ url_for( 'api.auth.register') }}" method="POST">
        <label for="email" id="email">Email:</label>
        <input type="text" placeholder="joedoe@example.com">
        <br>
        <label for="password">Password: </label>
        <input type="text" placeholder="J2Cs30nxkkp9 3Sj@jskakp">
        <br>
        <button type="submit">SignUp</button>
    </form>
</body>
</html>