/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
.headContainer {
    background-color: #ff3366; /* Pink */
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headContainer h1 {
    margin: 0;
    font-size: 50px;
    margin-left: 20px;
    background-image: linear-gradient(to right,  #9e9292,#a59292, rgb(218, 205, 205), #fff, #ffffff, #ffffff );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.authButtons {
    display: flex;
}

.authButtons button {
    margin-left: 10px;
    padding: 10px 20px;  
    cursor: pointer;
}

.authButtons .login {
    background-color: white;
    color: #ff3366;
    border: 1px solid #ff3366;
}

.authButtons .register {
    background-color: #ff3366;
    color: white;
    border: 1px solid white;
    margin-right: 10px;
}

/* Hero Section */
#hero {
    background-color: #ff9999; /* Light Pink */
    color: white;
    text-align: start;
    padding: 100px 0;
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: color 6.2s; 

}
.heroImage {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
#hero img {
    width: 460px;
    height: 450px;
    border-radius: 50%;
    margin-left: 10%;
    justify-content: flex-end;
    flex: 1; 
    border: 34px solid white;
}
#hero h2 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
}
main h2 {
    align-self: center;
    justify-content: center;
    text-align: center;
}
#hero p {
    font-size: 18px;
    margin-bottom: 40px;
    margin-left: 10px;
}

.ctaButton {
    background-color: white; /* Pink */
    color: #ff3366;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 10px;
} 
.ctaButton:hover {
    border: 1px solid rgb(255, 255, 255);
    color: white;
 
}

/* Features Section */
#features {
    background-color: #f2f2f2; /* Light Gray */
    padding: 50px 0;
    text-align: center;
    display: flex;
}

.featuresHeading {
    font-size: 8px;
    margin-bottom: 40px;
    color:#ff3366;
}

.feature {
    margin-bottom: 30px;
    margin: 8px;
    height: 5%;
    border-radius: 3%;
}

.feature h3 {
    font-size: 24px;
    color: #ff3366; /* Pink */
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    margin: 7px;
}

/* Footer */
footer {
    background-color: #333333; /* Dark Gray */
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
