/* Main container for chat */
.chat-container {
    display: flex;
    height: 100vh;  
}

.chats {
    width: 100%;
}

/* Chat box layout */
.chatBox {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

/* Messages area */
.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling for messages */
    background-color: #f5f5f5; /* Light background */
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; /* Add border to messages area */
    border-radius: 10px; /* Rounded corners */
}

/* Individual message styling */
.message {
    max-width: 60%; /* Limit message width */
    margin-bottom: 10px; 
    padding: 10px; 
    border-radius: 10px; 
    word-wrap: break-word; 
    transition: all 0.2s; 
}

/* Message styles for sender */
.message.sender {
    align-self: flex-end; /* Align sender messages to the right */
    background-color: #ff3366; /* Sender message background */
    color: white; /* Sender message text color */
}

/* Message styles for receiver */
.message.receiver {
    align-self: flex-start; /* Align receiver messages to the left */
    background-color: rgb(250, 145, 163); /* Receiver message background */
    color: black; /* Receiver message text color */
}

/* Input area styling */
input[type="text"] {
    width: 100%; /* Full width for input */
    padding: 10px; /* Inner padding */
    margin: 10px 0; /* Margin for spacing */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ccc; /* Light border */
    outline: none; /* Remove default outline */
}

/* Button styling */
.sendButton {
    padding: 10px 20px; /* Padding for button */
    border-radius: 10px; /* Rounded corners for button */
    background-color: #ff3366; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    cursor: pointer;
    transition: background-color 0.3s; 
    width: 80px;
}

/* Button hover effect */
button:hover {
    background-color: #ff1a47; /* Darker shade on hover */
}

/* Send area styling */
.send {
    display: flex; /* Flex layout for send area */
    align-items: center; /* Center items vertically */
    margin-top: 10px; /* Space above send area */
}
