.profileWindow {
    background-color: #ff3366;
}
.profileContainer {
   width: 100%;
    
}

.profileForm {
    margin: 8px;
    background-color: #cf4e6c;
    box-shadow: 0px 5px 10px #fff;
    padding: 50px;
}

.row {
    background-color: #e2d5d8;
    border-radius: 20px;
    padding: 10px;
    display: flex;
}

