.side-nav {
    width: 250px;
    background-color: #ff3366;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-right: 2px;
}

.side-nav h1 {
    margin-top: 0;
    font-size: 35px;
    color: #333;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.side-nav li {
    margin-bottom: 10px;
    cursor: pointer;
}

.nav-item {
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    color: #f5f5f5;
    background-color: rgb(250, 145, 163);
}

.nav-item:hover {
    background-color: #e0e0e0;
    color: #000;
}

.nav-item.active {
    background-color: #d0d0d0; /* Color for the active state */
    color: #000;
    font-weight: bold;
}
